select {
    box-sizing: border-box;
    margin: 0 5px 0 5px;
    padding: 5px 10px 5px 10px;
    border-radius: 6px;
    width: 300px;
    font-size: 16px;
}

textArea {
    resize: horizontal;
}

.Page-title {
    font-size: 28px;
    display: flex;
}

.URL-input-label {
    font-size: 20px;
    display: flex;
    flex-grow: 1;
}

.URL-input-div {
    display: flex;
    width: 54vw;
    flex-wrap: nowrap;
    margin-bottom: 1em;
}

.URL-input-div .URL-input-box {
    width: 85%;
    height: 2em;
    margin: 0 auto;
    text-indent: 5px;
}

.URL-input-button, .data-score-listBtn {
    font-size: 18px;
    height: 2rem;
    width: 10vw;
    min-width: 100px;
    white-space: nowrap;
}

.data-information-header {
    display: flex;
}

.data-information-saveBtn, .data-information-copyURL {
    margin: 0;
    margin-left: 50px;
    font-size: 18px;
    height: 2rem;
    width: 9rem;
    min-width: 140px;
    align-self: end;
    white-space: nowrap;
}

.data-information-title, .data-score-title {
    font-size: 24px;
    margin-bottom: 1em;
}

.data-information-saveBtn {
    margin-bottom: 1.3rem;
}

.data-information-copyURL {
    margin-bottom: 1.3rem;
    min-width: 240px;
}

.saving-result {
    font-size: 24px;
    margin-left: 2em;
}

.benchmark-information-sources {
    margin: 0 5px 0 5px;
    padding: 5px 0px 5px 0px;
    text-align: center;
    font-size: 18px;
}

.data-information-count {
    font-size: 18px;
    margin: 0px 0px 15px 1.5rem;
}

.data-information-benchmarkOrder {
    width: 75px;
}

.data-information-table {
    margin-bottom: 1em;
}

.crawling-result-data {
    display: flex;
}

.crawling-result-data-left {
    width: auto;
    height: 53vh;
    margin-right: 2em;
}

.crawling-result-data-right {
    width: 31vw;
    height: 53vh;
    display: flex;
    flex-direction: column;
}

.data-score-table, .data-score-table-tbody-style {
    height: 83%;
}

.data-information-table-thead-tr, .data-score-table-thead-tr {
    text-align: center;
}

.data-information-table-thead-th, .data-score-table-thead-th {
    padding: 0 2rem 5px 2rem;
}

.data-score-table-tbody-td {
    font-size: 18px;
}

.data-score-table-tbody-style {
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    text-align: center;
}

.data-score-listBtn {
    margin: 1em 0 1em 0;
    width: 20vw;
    height: 4em;
    text-align: center;
}

.crawling-result-total-product {
    font-size: 18px;
    margin: 0 0 1em 0;
}

.data-score-list-textArea, .data-score-URL-textArea {
    font-size: 18px;
    padding: 10px 5px 5px 10px;
    width: 98%;
}

.data-score-list-textArea {
    margin-bottom: 1em;
    height: 85%
}

.data-score-URL-textArea {
    height: 85%;
}

@media screen and (min-height: 1000px) {
    .crawling-result-data-left {
        height: 59vh;
    }
    .crawling-result-data-right {
        height: 59vh;
    }
}
